.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    font-size: 16px;
    /* box-shadow: 5px 5px 5px 5px grey; */
}
.add form{
    gap: 10px;
    padding: 30px;
    /* padding: max(20px ,10% 0 0 30%); */
    
}

.add-img-upload label,.add-img-upload img{
    width: 120px;
}
.add-prduct-name ,.add-prduct-description{
    width: max(40%,180px);
}
.add-prduct-name input ,.add-prduct-description textarea{
    padding: 10px;
    border-radius: 4px;
}
.add-category-price{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.add-category-price select,.add-category-price input{
    max-width: 120px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}
.add .btn-add{
    max-width: 120px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
.red{
    background-color: red;
}